.Info {
    background-color: black;
    color: white;
}

.Login {
    .divwel {
        width: 90vmin;
        height: 90vmin;
        margin: 5vmin auto;
        background-color: lightblue;
        border-radius: 3rem;
        overflow: inherit;
    }
    .divwel .h1wel {
        line-height: 40vmin;
        font-size: 16vmin;
        text-align: center;
        overflow-wrap: anywhere;
        color: #444;
    }
    .divwel .h1wel:hover {
        color: #777;
        transition: all 0.7s ease;
        cursor: pointer;
    }
    .divwel .h1wel:focus,
    .divwel .h1wel:action,
    .divwel .h1wel:click {
        color: #333;
    }
    .divwel .login {
        font-size: 3rem;
    }
    .divwel .login input {
        font-size: 3rem;
    }
    .divwel .login .acc,
    .divwel .login .psw {
        text-align: center;
        margin: 2rem 0;
        .account .password {
        }
    }
    .divwel .login .btn {
        width: 80vmin;
        text-align: center;
        margin: 5vmin auto;
    }
}

.Layout {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // margin-left: 20px;
        .nav {
            font-size: 3vh;
        }
    }
}

.Profile {
    .divsq {
        width: 90vmin;
        height: 90vmin;
        margin: 5vmin auto;
        background-color: lightblue;
        border-radius: 3rem;
        padding: 10vmin;
        display: flex;
    }
    .divsq .left {
        flex: 1 3 3;
        width: 30vmin;
    }
    .divsq .left .userName {
        font-size: 1.3rem;
        text-align: center;
    }
    .divsq .left .photo {
        width: 90%;
        border-radius: 50%;
        margin: 5%;
    }
    .divsq .right {
        flex: 1 3 5;
        width: 50vmin;
        padding: 5vmin;
    }
    .divsq .right .wel {
        text-align: center;
        padding: 3vmin;
    }
    .divsq .right .set {
        border-radius: 1rem;
    }
    .divsq .right .set .info {
        transform: translateX(10%);
    }
    .divsq .right .set ul {
        list-style: none;
    }
    .divsq .right .set ul .liItem {
        margin: 0.3rem;
    }
}

.Welcome {
    /* 外框與邊界歸0 */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* 字型設定 */
    * {
        font-family: "Noto Sans TC", sans-serif;
    }

    /* welcome */
    .divwel {
        width: 90vmin;
        height: 90vmin;
        margin: 5vmin auto;
        background-color: lightblue;
        border-radius: 3rem;
    }

    .divwel .h1wel {
        line-height: 90vmin;
        font-size: 16vmin;
        text-align: center;
        overflow-wrap: anywhere;
        color: #444;
    }

    .divwel .h1wel:hover {
        color: #777;
        transition: all 0.7s ease;
        cursor: pointer;
    }

    .divwel .h1wel:focus,
    .divwel .h1wel:action,
    .divwel .h1wel:click {
        color: #333;
    }
}
