.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid  lightgray;
  margin-left: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}